
<%= link_to 'Szoba hozzáadása', "../../rooms/new/#{@accommodation.id}", class: "btn btn-success right" %>
<h1>Szállás szerkesztés</h1>



<%= render 'form' %>



<%= link_to 'Vissza', @accommodation, class: "btn btn-link" %>
