<div class="row">
  <% @accommodations.each do |accommodation| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag accommodation.image.url %>
        <div class="caption">
            <%= link_to accommodation.name, accommodation %>
        </div>
      </div>
    </div>
  <% end %>
</div>