<div id="accommodations" class="row">
  <% @accommodations.each do |accommodation| %>
    <div class="col-sm-3 col-xs-6 col-md-3">
        <%= render 'accommodations/thumbnail', :accommodation => accommodation %>
    </div>
  <% end %>
</div>