<table class="table table-bordered table-striped">
  <tr>
    <th>Megnevezés</th>
    <th>Tulajdonos</th>
    <th>Kategória</th>
  </tr>

  <% @accommodations.each do |a| %>
  <tr>
    <td><%= link_to a.name, a %></td>
    <td><%= link_to a.owner.name, a.owner %></td>
    <% unless a.categry.nil? %>
        <td><% a.categry.value.times { %><i class="fa fa-star"></i><% } %></td>
    <% end %>
  </tr>
  <% end %>
</table>