<div class="thumbnail">
    <a href="/rooms/<%= room.id %>">
        <div class="crop">
            <%= image_tag room.image.url %>
        </div>
    </a>
    <div class="caption">
      <div class="row">
          <div  class="col-md-9 left">
            <strong><%= link_to room.name, "/rooms/#{room.id}" %></strong> - <small><%= link_to room.accommodation.name, room.accommodation %></small><br />
            <% (room.price.value_with_vat/10000).to_i.times do %>
                <i class="fa fa-eur"></i>
            <% end %>
          </div>
          <div class="col-md-3 right">
            <% room.capacity.times do %>
                <i class="fa fa-bed"></i>
            <% end %>
          </div>
      </div>
    </div>
</div>