<%= render 'filter/filter' %>

<% i = 1 %>
<% @rooms.each do |room| %>
    <% if i % 4 == 0 %>
        <div class="row" %>
    <% end %>
    <div class="col-sm-3 col-xs-6 col-md-3">
      <%= render 'rooms/thumbnail', :room => room %>
    </div>
    <% if i % 4 == 0 %>
        </div>
    <% end %>
    <% i+=1 %>
<% end %>