<div id="rooms" class="row">
  <% @rooms.each do |room| %>
      <div class="col-sm-3">
        <div class="thumbnail">
          <!--image_tag room.image.url-->
          <div class="caption">
            <%= link_to room.name, room %>
          </div>
        </div>
      </div>
  <% end %>
</div>
