@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #FFF;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .navbar-default {
	background-color: #F5F5F1
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.margin-right {
	margin-right: 10px;
}

.italic {
  font-style: italic;
}

.invisible {
  visibility: hidden;
}

.col-md-3:mth-child(4n+1){
  clear: left;
}

div.narrow-30 {
  width: 30%; 
}

div.narrow-60 {
  width: 60%;
}

div.narrow-30-center {
  position: relative;
  left: 50%;
  margin-left: -15%;
}

div.footer {
  text-align: center;
  margin-top: 100px;
}