<div class="footer">
  <small>2014/15 <i class="fa fa-child"></i> <i class="fa fa-copyright"></i><a href="http://balazs.rozsenich.hu">Rozsenich Balázs</a> <i class="fa fa-graduation-cap"></i> <a href="http://www.uni-pannon.hu">University of Pannonia</a> <i class="fa fa-bolt"></i> v<%= PropertiesHelper.get_property("version", "number") %></small>
</div>
