<div align="center">
  <small>v<%= PropertiesHelper.get_property("version", "number") %> ©<a href="http://balazs.rozsenich.hu">Rozsenich Balázs</a> - <a href="http://www.uni-pannon.hu">University of Pannonia</a>, 2014</small>
</div>
